.myHeader,
.myHeader .navbar-brand,
.myHeader .nav-link {
  background-color: #343434;
  color: aliceblue;
}

.hero {
  background-color: #e9ecef;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.cardTitle {
  font-size: 14px !important;
}

.cardImg {
  height: 250px;
  object-fit: contain;
  background-color: #f1f1f1;
}
